<fieldset data-hook="emerchantpay_checkout">
  <legend><%= I18n.t('emerchantpay.payments_table.checkout_source') %></legend>
  <div class="table-responsive border rounded bg-white mb-3">
    <table class="table table-condensed">
      <tr>
        <th><%= I18n.t('emerchantpay.payments_table.source_name') %>:</th>
        <td><%= payment.source.name %></td>
      </tr>
      <tr>
        <th><%= I18n.t('emerchantpay.payments_table.source_consumer_id') %>:</th>
        <td><%= payment.source.consumer_id %></td>
      </tr>
      <tr>
        <th><%= I18n.t('emerchantpay.payments_table.source_consumer_email') %>:</th>
        <td><%= payment.source.consumer_email %></td>
      </tr>
      <% unless payment.source.public_metadata.empty? %>
        <tr>
          <td colspan="2" class="text-center">
            <h3><%= I18n.t('emerchantpay.payments_table.source_custom_attributes') %></h3>
            <table class="table border-top-0">
              <% payment.source.public_metadata.each do |transaction_type, custom_attributes| %>
                <% next unless custom_attributes.is_a? Hash %>
                  <tr>
                    <th class="col-2"><%= transaction_type %></th>
                    <td class="text-left col-10">
                      <table class="table">
                        <% custom_attributes  .each do |attribute, value| %>
                          <tr>
                            <td class="col-5"><%= attribute %></td>
                            <td class="col-7"><%= value %></td>
                          </tr>
                        <% end %>
                      </table>
                    </td>
                  </tr>
              <% end %>
            </table>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</fieldset>

<%= render :partial => 'partials/gateway_messages', locals: { payment: payment } %>

<%= render :partial => 'partials/transaction_table', locals: { payment: payment} %>
